<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%
            if(locals.title){ %>
                <%= title %>
        <%    } else { %>
            <%= 'Kenya ports authority' %>
        <%  }   %>
    </title>


</head>
</head>
<body>
    <%- body %>
</body>
</html>