<div class="foreground-container stylo">
    <div class="auth-wrapper">
        <div class="auth-container">
           <div class="big-error">
               <h1>404</h1>
               <h5>Page not found</h5>
               <h4>Oops, Something went missing...</h4>
               <div class="ui divider"></div>
               <a href="/home" class="btn modifier-class ">Go back home </a>
           </div>
        </div>
    </div>
</div>
