<div class="foreground-container stylo">
      <div class="auth-wrapper">
          <div class="auth-container">
             <div class="big-error">
                 <h1>500</h1>
                 <h5>Internal Server Error</h5>
                 <h4>Oops, Something is broken...</h4>
                 <div class="ui divider"></div>
                 <a href="/home" class="btn modifier-class ">Go back home </a>
             </div>
          </div>
      </div>
  </div>
  